.profile-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    padding: 20px 0;
    gap: 18px;
    padding-bottom: 100px;
    overflow: scroll;
}

.profile {
    height: 300px;
    background-color: #1e2738;
    /* margin: 0 auto;
    margin-top:100px;
    margin-bottom: 70px; */
    width: 80%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 20px 0;
    border-radius: 5px;
    position: relative;
    color: white;
    flex-wrap: wrap;
}

.imgDiv img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    /* border: 2px solid rgb(2, 2, 85); */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 5px;

}

.imgDiv input {
    display: none;
}

.imgDiv label {
    position: absolute;
    bottom: 19px;
    right: 35px;
    height: 34px;
    width: 34px;
    background-color: white;
    text-align: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.imgDiv label i {
    font-size: 12px;
    font-weight: 900;
    color: #1e2738;
}

.profile-img-box {
    display: flex;
    justify-content: end;
    align-items: center;
}

.imgDiv {
    /* background-color: white; */
    height: 180px;
    width: 180px;
    position: relative;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}

.details {
    text-align: start;
    padding: 10px;
    gap: 4px;
    display: flex;
    flex-direction: column;
}

.details .name {
    font-size: 30px;
    margin: 0;
    /* text-transform: capitalize; */
    padding-bottom: 10px;
    padding-top: 10px;

}

.sub-detail {
    display: flex;
    gap: 10px;
    align-items: start;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
}

.email {
    font-size: 14px;
    /* text-transform: capitalize; */
    font-weight: 500;

}

.AccountDetails {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: max-content;
    align-items: center;
    gap: 20px;
    /* border:1px solid #808080 ; */
    padding: 17px 10px;

}

.sub-box {
    cursor: pointer;
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #638acd;
    transition: all 0.2s linear;
}

.sub-box:hover {
    color: white;
}

.AccountDetails .h1 {
    font-size: 10px;
    margin: 0;

}

.user-profile-box {
    margin-top: 40px;
}

.edit {
    background-color: #455880;
    color: white;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
}

.btn-danger {
    position: absolute;
    top: 10px;
    right: 10px;
}

.btn-danger:hover {
    background-color: #fe655d;
    color: white;
}

.btn-danger span,
.edit span {
    padding: 0 7px 0 0;
}

.edit:hover {
    background-color: #4160a2;
    color: white;
}

.gender {
    font-size: 14px;
    text-transform: capitalize;
    margin: 0;

}

.bio {
    font-size: 14px;
    text-transform: capitalize;
    margin: 0;

}

.gender strong,
.bio strong {
    color: #97b1cc;
}

.post-img {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;

}

.remove-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background: rgba(255, 0, 0, 0.7);
    border: none;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: 13px;
    height: 33px;
    width: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-contant-box {
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 10px; */
    width: 100%;
}

.post-img-wrapper:hover .remove-btn {
    opacity: 1;
}

.post-img-wrapper:hover .post-img {
    filter: blur(3px) brightness(0.7);
    transform: scale(1.05);
}

.post-box {
    position: relative;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #1e2738;

}

.posts-wrapper {
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

.post-list {
    display: flex;
    justify-content: center;
}

.post {
    width: 250px;
    /* background-color:white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;

    /* padding: 10px; */
    /* justify-content: center; */
}

.post-img-wrapper {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}


@media (max-width:768px) {
    .imgDiv img {
        height: 102px;
        width: 103px;
    }

    .imgDiv label {
        position: absolute;
        bottom: 40px;
        right: 51px;
        height: 27px;
        width: 27px;
    }


    .details .name {
        padding-top: 10px;
        font-size: 20px;
    }

    .edit span,
    .btn-danger span {
        display: none;
    }

    .edit {
        top: 10px;
        left: 10px;
        background: none !important;
        padding: 4px 10px;
    }

    .btn-danger {
        padding: 4px 10px;
        top: 10px;
        right: 10px;
        background: none !important;
        border: none;
        font-size: 18px;
    }

    .remove-btn {
        opacity: 1;
    }
}

@media (max-width:425px) {
    .profile {
        width: 90%;
    }

    .imgDiv label {
        bottom: 41px;
        right: 43px !important;
    }

    .remove-btn {
        opacity: 1;
    }

    .post-box {
        width: 90%;
        margin-bottom: 80px;
    }

    /* .imgDiv {
        height: 150px;
        width: 150px;
    } */

    /* .imgDiv img {
        height: 130px;
        width: 130px;
    } */

    /* .imgDiv label {
        bottom: 3px;
        right: 10px;
    } */

    .imgDiv label i {
        font-size: 13px;
        font-weight: 900;
    }


    .details .name {
        font-size: 15px;
    }

    .email {
        font-size: 10px !important;
    }

    .bio {
        font-size: 10px !important;
    }

    .gender {
        font-size: 10px !important;
    }
}

@media (max-width:370px) {
    .imgDiv label {
        bottom: 37px;
        right: 35px !important;
    }
}