.profile {
    height: 300px;
    background-color: #1e2738;
    margin: 0 auto;
    margin-top:100px;
    margin-bottom: 70px;
    width: 80%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 20px 0;
    border-radius: 5px;
    position: relative;
    color: white;
    flex-wrap: wrap;
}

.imgDiv img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    /* border: 2px solid rgb(2, 2, 85); */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 5px;

}

.imgDiv input {
    display: none;
}

.imgDiv label {
    position: absolute;
    bottom: 5px;
    right: 10px;
}

.imgDiv label i {
    font-size: 22px;
    font-weight: 900;
    color: #1e2738;
}

.imgDiv {
    background-color: white;
    height: 180px;
    width: 180px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}

.details {
    text-align: center;
    padding: 10px;
    gap: 4px;
    display: flex;
    flex-direction: column;
}

.details .name {
    font-size: 30px;
    margin: 0;
    /* text-transform: capitalize; */
    padding-bottom: 10px;
    padding-top: 10px;

}
.sub-detail{
    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
}

.email {
    font-size: 14px;
    /* text-transform: capitalize; */
    font-weight: 500;

}

.AccountDetails {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: max-content;
    align-items: center;
    gap: 20px;
    /* border:1px solid #808080 ; */
    padding: 17px 10px;

}

.sub-box {
    cursor: pointer;
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #638acd;
    transition: all 0.2s linear;
}
.sub-box:hover {
    color: white;
}

.AccountDetails .h1 {
    font-size: 12px;
    margin: 0;

}

.edit {
    background-color: #455880;
    color: white;
    position: absolute;
    top: 10px;
    left: 10px;
}

.btn-danger {
    position: absolute;
    top: 10px;
    right: 10px;
}

.btn-danger:hover {
    background-color: #fe655d;
    color: white;
}

.btn-danger span ,.edit span {
    padding: 0 7px 0 0;
}

.edit:hover {
    background-color: #4160a2;
    color: white;
}

.gender {
    font-size: 14px;
    text-transform: capitalize;
    margin: 0;

}

.bio {
    font-size: 14px;
    text-transform: capitalize;
    margin: 0;

}
.gender strong,.bio strong{
    color:#97b1cc;
}

@media (max-width:768px) {
    .details .name {
        padding-top: 10px;
        font-size: 20px;
    }

    .edit span,
    .btn-danger span {
        display: none;
    }

    .edit {
        top: 10px;
        left: 10px;
        background: none !important;
        padding: 0;
    }

    .btn-danger {
        padding: 0;
        top: 10px;
        right: 10px;
        background: none !important;
        border: none;
        font-size: 18px;
    }
}

@media (max-width:425px) {

    .imgDiv {
        height: 150px;
        width: 150px;
    }

    .imgDiv img {
        height: 130px;
        width: 130px;
    }

    .imgDiv label {
        bottom: 3px;
        right: 10px;
    }

    .imgDiv label i {
        font-size: 20px;
        font-weight: 900;
    }
    .details .name{
        font-size: 15px;
    }
    .email{
        font-size: 10px;
    }
}