.header{
    height: 50px;
    width: 100%;
    background-color: #121212;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
    color: white;
    box-shadow: 0 0 8px rgba(66, 124, 192, 0.8);
 
}
.header .logo-text{
    font-size: 16px;
    margin: 0;
}
.Top_box{
    display: flex;
    align-items: center;
    gap: 10px;
}
.Top_box div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 60px;
    cursor: pointer;
}
.Top_box div i,.Top_box div p{
    transition: all 0.1s linear;
    margin: 0;
}
.Top_box div:hover i,
.Top_box div:hover p{
    text-shadow: 1px 1px 1px rgba(42, 141, 255, 0.8);
    color: rgba(42, 141, 255, 0.8);

}
@media (max-width:425px){

    .Top_box div p{
        display: none;
    }
    .Top_box div{
        justify-content: end;
        font-size: 20px;
        width: max-content;
    }

}