.search {
    position: relative;
    width: 90%;
    margin: 0 auto;
}

.search input {
    width: 100%;
    /* padding: 8px; */
    font-size: 16px;
    color:#638acd;
    outline: none;
    border-radius: 5px;
    padding: 8px 10px;
    background-color: #1e2738;
    border: none;
    font-size: 15px;
}
.search input::placeholder {
    color: #638acd;
    opacity: 1;  
}


.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #222;
    border: 1px solid #444;
    z-index: 10;
    max-height: 200px;
    overflow-y: auto;
    padding: 0;
}

.dropdown li {
    padding: 10px;
    cursor: pointer;
    color: white;
    list-style-type: none;
}

.dropdown li.highlighted {
    background: #333;
}
.search-container{
    margin-top: 50px;
}