.search {
    position: relative;
    width: 90%;
    margin: 0 auto;

}

#root {
    overflow: hidden;
}

/* .search-instructions {
    background-image: url('/public/for_search_page.png');
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 80vh;
    padding: 0 5px;
    background-repeat: no-repeat;
} */

.search input {
    width: 100%;
    /* padding: 8px; */
    font-size: 16px;
    color: #638acd;
    outline: none;
    border-radius: 5px;
    padding: 8px 10px;
    background-color: #1e2738;
    border: none;
    font-size: 15px;
}

.search input::placeholder {
    color: #638acd;
    opacity: 1;
}

.search-post-main-box {
    padding: 0 !important;
    margin: 0 !important;
    border: 0px !important;
    width: 200px !important;
}

.search-post {
    height: calc(100vh - 160px);
    /* Adjust height based on header/footer */
    overflow-y: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.search-post::-webkit-scrollbar {
  width: 6px;
}


.search-custom-post-card {
    border: unset !important;

}

.search-row-box {
    justify-content: center;
    padding-top: 30px;
    gap: 10px;
}


.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #222;
    border: 1px solid #444;
    z-index: 10;
    max-height: 200px;
    overflow-y: auto;
    padding: 0;
}

.dropdown li {
    padding: 10px;
    cursor: pointer;
    color: white;
    list-style-type: none;
}

.dropdown li.highlighted {
    background: #333;
}

.search-container {
    margin-top: 50px;
}

@media (max-width: 450px) {
    .search {
        width: 100%;
    }

    .search input {
        font-size: 14px;
        padding: 6px 8px;
    }

    .search-post-main-box {
        width: 100% !important;
    }

    .search-post {
        height: calc(100vh - 120px); 
    }
    
}