
.post-container {
    max-width: 400px;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -250%);
    background-color: whitesmoke;
    /* transform: translatey(-1000px); */
    transition: all 0.5s linear;
    opacity: 0;
}
.showPost{
    transform: translate(-50%, -50%);
    opacity: 100;

}
.img-input{
    display:none
}
.post-container .bi-x {
    position: absolute;
    top: -1px;
    right: 5px;
    font-size: 26px;

}
.main-Box{
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.head{
    margin-bottom: 12px !important;
    font-size: 28px;
    font-weight: normal;
}
.post-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.post-input {
    padding: 7px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.post-button {
    padding: 7px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.post-button:hover {
    background-color: #0056b3;
}
.post-Box{
    width: 260px;
    height: 240px;
    display: flex;
    justify-content: center;
    background-color: white;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 9px;
}

.post-preview-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 15px; */
}
.post-preview-container img,.post-preview-container video{
    height: 170px;
    width: 167px;
}
.post-Box label{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.post-Box label i{
    font-size: 60px;
}
.post-Box label span{
    font-weight: 600;
}

.post-preview {
    width: 100%;
    max-width: 300px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.post-remove-button {
    padding: 5px 10px;
    background-color: #ff4d4d;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.post-remove-button:hover {
    background-color: #d11a2a;
}
